
<div id="blue_area_top" class="blue_area" ng-class="color_theme">
    <h1 id="page_title">ADAPTIVE TOOLBOX Online</h1>
    <img id="mpib_logo" src="img/MPIB_Logo_weiss.png" alt="Max Planck Institute for Human Development in Berlin, Germany">

    <ul class="" id="menu">
        <li id="menu_mytoolbox" class="inline" title="Private datasets and tasks - visible only to me"><a href="index.html#/">MY TOOLBOX</a></li>
        <li id="menu_datasets" class="inline" title="Public datasets - visible to all users"><a href="index.html#/data">DATASETS</a></li>
        <li id="menu_fft" class="inline active" title="Public tasks - visible to all users"><a href="index.html#/fft">CLASSIFICATION TASKS</a></li>
        <li id="menu_heuristics" class="inline" title="Public tasks - visible to all users"><a href="index.html#/heur">COMPARISON TASKS</a></li>
    </ul>
</div>

<div class="blue_area" ng-class="color_theme">

    <div>
        <div class="search_filter inline">
            <!--solution with angular.js-->
            Search: <input ng-model="query" type="text"/>
            Sorty by:
            <a href="" ng-click="sortField ='title'; reverse = !reverse">Title</a>,
            <a href="" ng-init="sortField='date';reverse=true" ng-click="sortField ='date'; reverse = !reverse">Date</a>,
            <a href="" ng-click="sortField ='uploader'; reverse = !reverse">Uploader</a>,
            <a href="" ng-click="sortField ='usage_users'; reverse = !reverse">Usage</a>
        </div>
    </div>

</div>

<div id="white_area">

    <!--solution with angular.js-->
    <!--Search: <input ng-model="query" type="text"/>
    Sorty by: <a href="" ng-click="sortField ='title'; reverse = !reverse">Title</a>,
    <a href="" ng-init="sortField='date';reverse=true" ng-click="sortField ='date'; reverse = !reverse">Date</a>,
    <a href="" ng-click="sortField ='uploader'; reverse = !reverse">Uploader</a>,
    <a href="" ng-click="sortField ='usage_users'; reverse = !reverse">Usage</a>-->

    <ul id ="view_tools" class="view-list one-column">
        <li ng-repeat="entry in heuristics | filter:query | orderBy:sortField:reverse" >
            <div class="iconblock inline">
                <a class="image inline" href="#/fft/{{entry.HeuristicId}}">
                    <img ng-src="img/public/{{entry.Image}}">
                </a>
            </div>
            <div class="titleblock inline">
                <div class="header">
                    <h2 class="title">{{entry.Title}}</h2>
                </div>
                <div class="infoblock">
                    <div class="info inline">
                        <h4 class="date">{{entry.Date | date:'yyyy-MM-dd, HH:mm'}}</h4>
                        <h4 class="username">By {{entry.UserName}}</h4>
                        <h4 class="size">{{entry.SizeCues}} attributes x {{entry.SizeCases}} cases</h4>
                        <!--<h4 class="usage">Used by {{entry.UsageUsers}} users with {{entry.UsageDatasets}} datasets</h4>-->
                        <h4 class="access">{{entry.Access}} access</h4>
                    </div>
                    <div class="details inline">
                        <div class="description">{{entry.Description}}</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>
